.HomeOuterDiv{
    /* border: 2px solid blue; */
    height: 90vh;
    width: 100%;
    background-image: url("https://free4kwallpapers.com/uploads/wallpaper/the-dawn-has-arrived-wallpaper-1024x768-wallpaper.jpg");
    background-size: 100% 100%;
    text-align: center;
}